.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  &_info {
    padding-left: 20px;
    button {
      cursor: pointer;
      background: #f0c14b;
      border: 1px solid;
      padding: 7px;
      border-radius: 5px;
      margin-top: 10px;
      border-color: #a88734 #9c7e31 #846a29;
      color: #111;
    }
    .checkoutProduct_title {
      font-size: 17px;
      font-weight: 800;
    }
    .checkoutProduct_rating {
      display: flex;
    }
  }
  &_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }
}
